@font-face {
    font-family: "ObjektivLight";
    font-weight: 300;
    src: url("/fonts/ObjektivMk1-Light.woff2") format("woff2"),url("/fonts/ObjektivMk1-Light.woff") format("woff");
}
@font-face {
    font-family: "ObjektivRegular";
    font-weight: 400;
    src: url("/fonts/ObjektivMk1-Regular.woff2") format("woff2"),url("/fonts/ObjektivMk1-Regular.woff") format("woff");
}
@font-face {
    font-family: "ObjektivMedium";
    font-weight: 500;
    src: url("/fonts/ObjektivMk1-Medium.woff2") format("woff2"),url("/fonts/ObjektivMk1-Medium.woff") format("woff");
}
@font-face {
    font-family: "ObjektivBold";
    font-weight: 700;
    src: url("/fonts/ObjektivMk1-Bold.woff2") format("woff2"),url("/fonts/ObjektivMk1-Bold.woff") format("woff");
}
@font-face {
    font-family: "ObjektivXBold";
    font-weight: 800;
    src: url("/fonts/ObjektivMk1-XBold.woff2") format("woff2"),url("/fonts/ObjektivMk1-XBold.woff") format("woff");
}
@font-face {
    font-family: "ObjektivBlack";
    font-weight: 900;
    src: url("/fonts/ObjektivMk1-Black.woff2") format("woff2"),url("/fonts/ObjektivMk1-Black.woff") format("woff");
}