{% extends "./_layouts/_login.html" %}

{% block globalVars %}
    {% set id = 'Login' %}
    {% set title = 'Login' %}
{% endblock %}

{% block main %}
    <div class="login">
        <div class="generic">
            <img src="/img/logo.svg">
        </div>
        <div class="login-form">
            <a class="back-button" href="/login/">
                <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                    <path d="M8.625 1.25L3.375 6.5L8.625 11.75" stroke="#142577" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="12" height="12" fill="white" transform="translate(0 0.5)"/>
                    </clipPath>
                    </defs>
                </svg>
                Geri
            </a>
            <div class="form">
                <span class="form-title mb-50">
                    Şifre Hatırlatma
                </span>
                <div class="login-form-group mb-30">
                    <label>E-Posta</label>
                    <input type="text">
                </div>
               
                <button class="login-button">Gönder</button>
            </div>
            <span class="copyright">
                © 2020 - Jain Sulama Sistemleri. Tüm Hakları Saklıdır.
            </span>
        </div>
    </div>
{% endblock %}