<aside class="handler" id="main-nav">
    <div class="logo">
        <img src="/img/logo.svg">
    </div>
    <ul>
        <li>
            <a href="" class="home active">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 1.5H4.5V19.5H15V1.5Z" stroke="#E0E4F5" stroke-miterlimit="10" stroke-linecap="square"/>
                    <path d="M15 25.5H4.5V34.5H15V25.5Z" stroke="#E0E4F5" stroke-miterlimit="10" stroke-linecap="square"/>
                    <path d="M31.5 1.5H21V10.5H31.5V1.5Z" fill="#E0E4F5" stroke="#E0E4F5" stroke-miterlimit="10" stroke-linecap="square"/>
                    <path d="M31.5 16.5H21V34.5H31.5V16.5Z" stroke="#E0E4F5" stroke-miterlimit="10" stroke-linecap="square"/>
                </svg>
                <span>Anasayfa</span>    
            </a>
        </li>
        <li>
            <a href="" class="products">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.25 26.25C11.25 21.75 18.75 14.25 18.75 14.25C18.75 14.25 26.25 21.75 26.25 26.25C26.25 31.05 22.35 33.75 18.75 33.75C15.15 33.75 11.25 31.05 11.25 26.25Z" stroke="#E0E4F5" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"/>
                    <path d="M26.25 11.25C26.25 8.4 30.75 3.75 30.75 3.75C30.75 3.75 35.25 8.4 35.25 11.25C35.25 14.1 33 15.75 30.75 15.75C28.5 15.75 26.25 14.1 26.25 11.25Z" stroke="#E0E4F5" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"/>
                    <path d="M2.25 11.25C2.25 8.4 6.75 3.75 6.75 3.75C6.75 3.75 11.25 8.4 11.25 11.25C11.25 14.1 9 15.75 6.75 15.75C4.5 15.75 2.25 14.1 2.25 11.25Z" stroke="#E0E4F5" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"/>
                </svg>
                <span>Ürünler</span>
            </a>
        </li>
        <li>
            <a href="" class="orders">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5 10.5H12" stroke="#E0E4F5" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"/>
                    <path d="M18 10.5H25.5" stroke="#E0E4F5" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"/>
                    <path d="M10.5 18H12" stroke="#E0E4F5" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"/>
                    <path d="M18 18H25.5" stroke="#E0E4F5" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"/>
                    <path d="M10.5 25.5H18" stroke="#E0E4F5" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"/>
                    <path d="M24 34.5V25.5H33L24 34.5Z" fill="#E0E4F5"/>
                    <path d="M24 34.5V25.5H33" stroke="#E0E4F5" stroke-width="1.5" stroke-miterlimit="10"/>
                    <path d="M24 34.5H3V1.5H33V25.5L24 34.5Z" stroke="#E0E4F5" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"/>
                </svg>
                <span>Siparişler</span>    
            </a>
        </li>
        <li>
            <a href="" class="transactions">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5 18V24C16.5 26.4855 20.529 28.5 25.5 28.5C30.471 28.5 34.5 26.4855 34.5 24V18" stroke="#E0E4F5" stroke-width="1.5" stroke-miterlimit="10"/>
                    <path d="M16.5 24V30C16.5 32.4855 20.529 34.5 25.5 34.5C30.471 34.5 34.5 32.4855 34.5 30V24" stroke="#E0E4F5" stroke-width="1.5" stroke-miterlimit="10"/>
                    <path d="M25.5 22.5C30.4706 22.5 34.5 20.4853 34.5 18C34.5 15.5147 30.4706 13.5 25.5 13.5C20.5294 13.5 16.5 15.5147 16.5 18C16.5 20.4853 20.5294 22.5 25.5 22.5Z" stroke="#E0E4F5" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"/>
                    <path d="M12 7.5V12H7.5" stroke="#E0E4F5" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"/>
                    <path d="M12 22.5C6.201 22.5 1.5 17.799 1.5 12C1.5 6.201 6.201 1.5 12 1.5C16.7565 1.5 20.775 4.6635 22.065 9.0015" stroke="#E0E4F5" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"/>
                </svg>
                <span>Cari İşlemler</span>    
            </a>
        </li>
    </ul>
    <div class="aside-layout"></div>
</aside>
