<div class="modal-dialog" id="notifications">
    <div class="modal-body">
        <div class="modal-header">
            <span class="modal-title">
                Bildirimler
            </span>
            <button class="close-modal" data-modalclose="true">
                <svg width="19px" height="19px" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="close-cross" fill="#E0E4F5">
                            <path d="M12.7170612,9.49977248 L18.333495,3.8837265 C19.2221683,2.99504251 19.2221683,1.55440067 18.333495,0.666171716 C17.4457317,-0.222057239 16.0041971,-0.222057239 15.1164338,0.666171716 L9.5,6.28312777 L3.88356624,0.666171716 C2.99580295,-0.222057239 1.5542683,-0.222057239 0.666505011,0.666171716 C-0.222168337,1.55485571 -0.222168337,2.99549755 0.666505011,3.8837265 L6.28248374,9.49977248 L0.666505011,15.1158185 C-0.222168337,16.0045025 -0.222168337,17.4451443 0.666505011,18.3333732 C1.11015914,18.7779428 1.69305241,18.999545 2.27503562,18.999545 C2.85656381,18.999545 3.43991211,18.7779428 3.88356624,18.3333732 L9.5,12.7173273 L15.1164338,18.3338283 C15.5605429,18.7783978 16.1429812,19 16.7249644,19 C17.3069476,19 17.8898409,18.7783978 18.333495,18.3338283 C19.2221683,17.4451443 19.2221683,16.0045025 18.333495,15.1162735 L12.7170612,9.49977248 Z" id="Path"></path>
                        </g>
                    </g>
                </svg>
            </button>
        </div>
        <div class="modal-content">
            <div class="notification-wrapper">
                <span class="notifications-title">
                    Yeni
                </span>
                <ul class="notification-list">
                    <li>
                        <span class="awaiting"></span>
                        <div class="notification-content">
                            Siparişiniz alındı, onay bekliyor
                            <small>2 saat önce</small>
                        </div>
                    </li>
                    <li>
                        <span class="approved"></span>
                        <div class="notification-content">
                            Siparişiniz alındı, onay bekliyor
                            <small>2 saat önce</small>
                        </div>
                    </li>
                    <li>
                        <span class="stage"></span>
                        <div class="notification-content">
                            Siparişiniz alındı, onay bekliyor
                            <small>2 saat önce</small>
                        </div>
                    </li>
                    <li>
                        <span class="cancelled"></span>
                        <div class="notification-content">
                            Siparişiniz alındı, onay bekliyor
                            <small>2 saat önce</small>
                        </div>
                    </li>
                </ul>
                <span class="notifications-title">
                    Daha Öncekiler
                </span>
                <ul class="notification-list notification-list-history">
                    <li>
                        <span class="rejected"></span>
                        <div class="notification-content">
                            Siparişiniz alındı, onay bekliyor
                            <small>2 saat önce</small>
                        </div>
                    </li>
                    <li>
                        <span class="approved"></span>
                        <div class="notification-content">
                            Siparişiniz sevkiyat aşamasındadır. 15 Ekim 2020, perşembe günü teslim edilecektir.
                            <small>2 saat önce</small>
                        </div>
                    </li>
                    <li>
                        <span class="cancelled"></span>
                        <div class="notification-content">
                            Siparişiniz alındı, onay bekliyor
                            <small>2 saat önce</small>
                        </div>
                    </li>
                    <li>
                        <span class="cancelled"></span>
                        <div class="notification-content">
                            Siparişiniz alındı, onay bekliyor
                            <small>2 saat önce</small>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>