<div class="modal-dialog" id="shopping-basket">
    <div class="modal-body">
        <div class="modal-header">
            <span class="modal-title">
                Sepetim
            </span>
            <button class="close-modal" data-modalclose="true">
                <svg width="19px" height="19px" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="close-cross" fill="#E0E4F5">
                            <path d="M12.7170612,9.49977248 L18.333495,3.8837265 C19.2221683,2.99504251 19.2221683,1.55440067 18.333495,0.666171716 C17.4457317,-0.222057239 16.0041971,-0.222057239 15.1164338,0.666171716 L9.5,6.28312777 L3.88356624,0.666171716 C2.99580295,-0.222057239 1.5542683,-0.222057239 0.666505011,0.666171716 C-0.222168337,1.55485571 -0.222168337,2.99549755 0.666505011,3.8837265 L6.28248374,9.49977248 L0.666505011,15.1158185 C-0.222168337,16.0045025 -0.222168337,17.4451443 0.666505011,18.3333732 C1.11015914,18.7779428 1.69305241,18.999545 2.27503562,18.999545 C2.85656381,18.999545 3.43991211,18.7779428 3.88356624,18.3333732 L9.5,12.7173273 L15.1164338,18.3338283 C15.5605429,18.7783978 16.1429812,19 16.7249644,19 C17.3069476,19 17.8898409,18.7783978 18.333495,18.3338283 C19.2221683,17.4451443 19.2221683,16.0045025 18.333495,15.1162735 L12.7170612,9.49977248 Z" id="Path"></path>
                        </g>
                    </g>
                </svg>
            </button>
        </div>
        <div class="modal-content">
            <div class="basket-content">

                <div class="empty-warning mb-30">
                    Sepetinizde ürün bulunmamaktadır
                </div>

                <div class="basket-item">
                    <div class="img">
                        <img src="https://www.jains.com.tr/img/content/tr/urunler-hatustudamlaticilar-jturbokeyplus-jturbo_keyplus_dripper_black-_90.jpg">
                    </div>
                    <div class="summary">
                        <span class="product-name">
                            Jain Tough Hose
                        </span>
                        <p>
                            Basınç Ayarsız Damla Sulama Boruları
                        </p>
                        <div class="price-line">
                            <div class="indicator">
                                <button>-</button>
                                <input type="text" value="0" readonly>
                                <button>+</button>
                            </div>
                            <span class="product-price">
                                69,00 ₺
                            </span>
                        </div>
                    </div>
                    <a class="delete-item">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.5 6.5V13.5C2.5 14.605 3.395 15.5 4.5 15.5H11.5C12.605 15.5 13.5 14.605 13.5 13.5V6.5" stroke="#142577" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6 6.5V13" stroke="#061D10" stroke-linecap="round"/>
                            <path d="M10 6.5V13" stroke="#061D10" stroke-linecap="round"/>
                            <path d="M0.5 3.5H15.5" stroke="#142577" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.5 3.5V0.5H10.5V3.5" stroke="#142577" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>   
                    </a>
                </div>
                <div class="basket-item">
                    <div class="img">
                        <img src="https://www.jains.com.tr/img/content/tr/urunler-hatustudamlaticilar-jturbokeyplus-jturbo_keyplus_dripper_black-_90.jpg">
                    </div>
                    <div class="summary">
                        <span class="product-name">
                            Jain Tough Hose
                        </span>
                        <p>
                            Basınç Ayarsız Damla Sulama Boruları
                        </p>
                        <div class="price-line">
                            <div class="indicator">
                                <button>-</button>
                                <input type="text" value="0" readonly>
                                <button>+</button>
                            </div>
                            <span class="product-price">
                                69,00 ₺
                            </span>
                        </div>
                    </div>
                    <a class="delete-item">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.5 6.5V13.5C2.5 14.605 3.395 15.5 4.5 15.5H11.5C12.605 15.5 13.5 14.605 13.5 13.5V6.5" stroke="#142577" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6 6.5V13" stroke="#061D10" stroke-linecap="round"/>
                            <path d="M10 6.5V13" stroke="#061D10" stroke-linecap="round"/>
                            <path d="M0.5 3.5H15.5" stroke="#142577" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.5 3.5V0.5H10.5V3.5" stroke="#142577" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>   
                    </a>
                </div>
            </div>
        </div>
        <div class="basket-total">
            <div class="totals-block">
                <span class="total-title">Toplam Tutar</span> 
                <span class="basket-total-view">384,40 ₺</span>
            </div>
            <button class="add-offer-code">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.9 10.1L15 7.99999L12.9 5.9V3.1H10.1L7.99999 1L5.9 3.1H3.1V5.9L1 7.99999L3.1 10.1V12.9H5.9L7.99999 15L10.1 12.9H12.9V10.1Z" stroke="#FFA238" stroke-miterlimit="10" stroke-linecap="square"/>
                    <path d="M10.1004 5.89996L5.90039 10.1" stroke="#FFA238" stroke-miterlimit="10" stroke-linecap="square"/>
                    <path d="M6.25019 7.30001C6.83009 7.30001 7.30019 6.82991 7.30019 6.25001C7.30019 5.67011 6.83009 5.20001 6.25019 5.20001C5.6703 5.20001 5.2002 5.67011 5.2002 6.25001C5.2002 6.82991 5.6703 7.30001 6.25019 7.30001Z" fill="#FFA238"/>
                    <path d="M9.75019 10.8C10.3301 10.8 10.8002 10.3299 10.8002 9.75001C10.8002 9.17011 10.3301 8.70001 9.75019 8.70001C9.1703 8.70001 8.7002 9.17011 8.7002 9.75001C8.7002 10.3299 9.1703 10.8 9.75019 10.8Z" fill="#FFA238"/>
                </svg>
                İndirim Kodu Ekle
            </button>
            <a class="finish-order ml-20">
                Siparişi Tamamla
            </a>
        </div>
    </div>
</div>